<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 	<mapper namespace="com.agora12.spring.ex.database.dao.UsedGoodsDAO">
  
  	<select id = "selectUsedGoodsList" resultType="com.agora12.spring.ex.database.model.UsedGoods">
  		SELECT 
  			`id`
  			,`sellerId`
  			,`title`
  			,`price`
  			,`description`
  			,`picture`
  			,`createdAt`
  			,`updatedAt` 
  		FROM 
  			`used_goods`  	
  	</select>
  	
  	
  
  </mapper>